/**
 * Femicide Map Infographic CSS
 */


main {
    flex: 1 0 auto;
}

.hoverinfo {
    padding: 0!important;
}

.legend td,
.legend th,
.hoverinfo td,
.hoverinfo th {
    padding: 10px 5px;
    display: table-cell;
    vertical-align: middle;
    border-radius: 2px;
}

.legend .femicide,
.hoverinfo .femicide {
    background-image: url('../images/coffin.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 2rem;
}

.legend .attempted,
.hoverinfo .attempted {
    background-image: url('../images/knife.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 2rem;
}

#map-canvas {
    width: 280px;
    height: 392px;
    position: relative;
    overflow: visible;
    display: block;
    margin: 0 auto;
    bottom: 21px;
}

@media only screen and (min-width: 768px) {
    #map-canvas {
        width: 400px;
        height: 560px;
    }
}

@media only screen and (min-width: 993px) {
    #map-canvas {
        width: 500px;
        height: 690px;
    }
}

#map-canvas svg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#legend {
    position: absolute;
    bottom: 0;
    left: -21px;
    max-width: 180px;
}
